<h2 id="title">Ember Paper Input Mask</h2>

{{paper-input-mask
	mask='currency'
	value=currency
	label='currency mask'
	class='layout-row flex-100'
	onChange=(action (mut currency))
}}

<br /> <br />

{{paper-input-mask
	mask='date'
	value=date
	label='date mask'
	class='layout-row flex-100'
	onChange=(action (mut date))
}}

<br /> <br />

{{paper-input-mask
	value=nomask
	label='No mask'
	class='layout-row flex-100'
	onChange=(action (mut nomask))
}}

{{outlet}}
